{% extends "layout.html" %} {% block content %}
<h1>Connecting Hackers with people</h1>
<p class="pitch">
  There are thousands of hackers working on projects every weekend. But we don't
  always know what problems each community faces. That's why we decided to
  gather the problems that you and your community would like to be fixed. You
  can describe anything—this can range from a mundane task you do everydays to
  something you want changed in your community.
</p>
<h1>What would you like to see fixed?</h1>
<p>
  Below you can enter a problem that's been a bit tiresome for you. You can even
  pen down problems that you think are impossible to solve–us hackers may just
  surprise you with the solutions that we come up with ;)
</p>
<textarea
  name="problem-details"
  id="problem-details"
  placeholder="Enter the details of what you'd like to see fixed*"
></textarea>
<div class="submit-button">
  <button class="block round">Submit</button>
</div>
{% endblock content %}
